.boxed {
	border: 1px solid black;
}

th.sortable {
	cursor: pointer;
}

.alertmessage{
	color: red;
}

.selectedCourse{
	background-color: lightgreen;
}

.selectedCall{
	background-color: lightgreen;
}

.outcomeTable {
	border-spacing: 5px;
	border: 1px;
}