<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
	<display-name>VerbalizzazioneVoti-TIW_JSVersion</display-name>
	<context-param>
		<param-name>dbUrl</param-name>
		<param-value>jdbc:mysql://localhost:3306/tiwproject?serverTimezone=UTC</param-value>
	</context-param>
	<context-param>
		<param-name>dbUser</param-name>
		<param-value>root</param-value>
	</context-param>
	<context-param>
		<param-name>dbPassword</param-name>
		<param-value>root</param-value>
	</context-param>
	<context-param>
		<param-name>dbDriver</param-name>
		<param-value>com.mysql.cj.jdbc.Driver</param-value>
	</context-param>
	<filter>
		<filter-name>CredentialsChecker</filter-name>
		<filter-class>filters.CredentialsChecker</filter-class>
	</filter>
	<filter>
		<filter-name>LecturerChecker</filter-name>
		<filter-class>filters.LecturerChecker</filter-class>
	</filter>
	<filter>
		<filter-name>StudentChecker</filter-name>
		<filter-class>filters.StudentChecker</filter-class>
	</filter>
	<filter>
		<filter-name>NoCacher</filter-name>
		<filter-class>filters.NoCacher</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>NoCacher</filter-name>
		<url-pattern>/index.html</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>CredentialsChecker</filter-name>
		<url-pattern>/GetSubscriptionToCall</url-pattern>
		<url-pattern>/GoToHomeLecturer</url-pattern>
		<url-pattern>/GoToHomeStudent</url-pattern>
		<url-pattern>/GoToMarkManagement</url-pattern>
		<url-pattern>/GoToOutcome</url-pattern>
		<url-pattern>/GoToVerbalRecap</url-pattern>
		<url-pattern>/PublishStudentMark</url-pattern>
		<url-pattern>/RefuseMark</url-pattern>
		<url-pattern>/UpdateStudentMark</url-pattern>
		<url-pattern>/VerbalizeStudentsMarks</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>LecturerChecker</filter-name>
		<url-pattern>/GetSubscriptionToCall</url-pattern>
		<url-pattern>/GoToHomeLecturer</url-pattern>
		<url-pattern>/GoToMarkManagement</url-pattern>
		<url-pattern>/UpdateStudentMark</url-pattern>
		<url-pattern>/GoToVerbalRecap</url-pattern>
		<url-pattern>/PublishStudentMark</url-pattern>
		<url-pattern>/UpdateStudentMark</url-pattern>
		<url-pattern>/VerbalizeStudentsMarks</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>StudentChecker</filter-name>
		<url-pattern>/GoToHomeStudent</url-pattern>
		<url-pattern>/GoToOutcome</url-pattern>
		<url-pattern>/RefuseMark</url-pattern>
	</filter-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>