<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Outcome Page</title>
<link rel="stylesheet" type="text/css" media="all"
	href="bootstrap/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" media="all"
	href="CSS/mystyle.css" />
</head>
<body>
	<div class="container-fluid">
		<div class="page-header">
			<div>
				<h1>Welcome to you outcome page</h1>
			</div>
			<a class="btn btn-info" href="Logout">Logout</a>
		</div>
		
		<div
			th:if="${evaluation.state} == 'Non inserito' or ${evaluation.state} == 'Inserito'">Voto
			non ancora definito</div>
		<div
			th:if="${evaluation.state} != 'Non inserito' and ${evaluation.state} != 'Inserito'" class="div-lg">
			<table class="table table-striped table-hover table-bordered">
				<thead>
					<tr>
						<th colspan="2">Student's data</th>
						<th colspan="2">Course's data</th>
						<th colspan="2">Call's data</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th style="text-align: left">ID</th>
						<td th:text="${student.id}">0</td>

						<th style="text-align: left">ID</th>
						<td th:text="${course.id}">0</td>

						<th style="text-align: left">ID</th>
						<td th:text="${call.id}">0</td>
					</tr>
					<tr>
						<th style="text-align: left">Surname</th>
						<td th:text="${student.surname}">None</td>

						<th style="text-align: left">Name</th>
						<td th:text="${course.name}">0</td>

						<th style="text-align: left">Date</th>
						<td th:text="${call.date}">0</td>
					</tr>
					<tr>
						<th style="text-align: left">Name</th>
						<td th:text="${student.name}">None</td>

						<th style="text-align: left">Description</th>
						<td th:text="${course.description}">0</td>

						<th style="text-align: left">Time</th>
						<td th:text="${call.time}">0</td>
					</tr>
					<tr>
						<th style="text-align: left">Email</th>
						<td th:text="${student.email}">None</td>

						<th style="text-align: left">Lecturer</th>
						<td th:text="${lecturer.surname} + ' ' + ${lecturer.name}">0</td>

						<th style="text-align: left">Mark</th>
						<td th:text="${evaluation.mark}">None</td>
					</tr>
					<tr>
						<th style="text-align: left">Degree course</th>
						<td th:text="${student.degreeCourse.name}">None</td>

						<td></td>
						<td></td>

						<th style="text-align: left">Evaluation state</th>
						<td th:text="${evaluation.state}">None</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div
			th:if="${actualNumber} and (${evaluation.state} != 'Rifiutato' or ${evaluation.state} != 'Pubblicato')">
			<form th:action="@{/RefuseMark}">
				<input type="hidden" name="callid" th:value="${call.id}"> <input
					type="submit" value="Refuse">
			</form>
		</div>
		<p th:if="${evaluation.state} == 'Rifiutato'">Il voto &egrave;
			stato rifiutato</p>
	</div>
</body>
</html>