<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Verbal Page</title>
<link rel="stylesheet" type="text/css" media="all"
	href="bootstrap/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" media="all"
	href="CSS/mystyle.css" />
</head>
<body>
	<div class="container-fluid">
		<div class="page-header">
			<div>
				<h1>Verbal recap page</h1>
			</div>
			<div>
				<a class="btn btn-info"
					th:href="@{/GetSubscriptionToCall(callid=${call.id})}">Go back</a> <a
					class="btn btn-info" href="Logout">Logout</a>
			</div>
		</div>
		
		<div class="div-lg">
			<table class="table table-striped table-hover table-bordered">
				<thead>
					<tr>
						<th colspan="2">Verbal's data</th>
						<th colspan="2">Course's data</th>
						<th colspan="2">Call's data</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th style="text-align: left">ID</th>
						<td th:text="${verbal.id}">0</td>

						<th style="text-align: left">ID</th>
						<td th:text="${course.id}">0</td>

						<th style="text-align: left">ID</th>
						<td th:text="${call.id}">0</td>
					</tr>
					<tr>
						<th style="text-align: left">Creation date</th>
						<td th:text="${verbal.creationDate}">None</td>

						<th style="text-align: left">Name</th>
						<td th:text="${course.name}">0</td>

						<th style="text-align: left">Date</th>
						<td th:text="${call.date}">0</td>
					</tr>
					<tr>
						<th style="text-align: left">Creation time</th>
						<td th:text="${verbal.creationTime}"></td>

						<th style="text-align: left">Description</th>
						<td th:text="${course.description}">0</td>

						<th style="text-align: left">Time</th>
						<td th:text="${call.time}">0</td>
					</tr>
					<tr>
						<td></td>
						<td></td>

						<th style="text-align: left">Lecturer</th>
						<td th:text="${lecturer.surname} + ' ' + ${lecturer.name}">0</td>

						<td></td>
						<td></td>
					</tr>
				</tbody>
			</table>
		</div>

		<br>

		<div th:if="${students.size()>0}" class="div-lg">
			<p>List of all students that subscribed to the call</p>
			<table class="table table-striped table-hover table-bordered">
				<thead>
					<tr>
						<th>ID</th>
						<th>Surname</th>
						<th>Name</th>
						<th>Email</th>
						<th>Degree course</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="stud : ${students}">
						<td th:text="${stud.id}"></td>
						<td th:text="${stud.surname}"></td>
						<td th:text="${stud.name}"></td>
						<td th:text="${stud.email}"></td>
						<td th:text="${stud.degreeCourse.name}"></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</body>
</html>